### 1. variables

In [1]:
strVar1 = 'string variable with single quote'
print(strVar1)

string variable with single quote

In [2]:
strVar2 = "string variable with double quotes"
print(strVar2)

string variable with double quotes

In [3]:
strMultiline1 = '''
string multiline 1
string multiline 2
string multiline 3
'''
print(strMultiline1)

string multiline 1
string multiline 2
string multiline 3

In [4]:
strMultiline2 = """
strng multiline - 1
strng multiline - 2
strng multiline - 3

"""
print(strMultiline2)

strng multiline - 1
strng multiline - 2
strng multiline - 3

In [5]:
a,b,c = 10,20,30
print("a = {}, b= {}, c = {}".format(a,b,c))

a = 10, b= 20, c = 30

In [6]:
x=y=z = 100
print("x = {0}, y  = {1}, z = {2}".format(x,y,z))

x = 100, y  = 100, z = 100

In [7]:
#global variable example
globalInteger = 200
print(globalInteger)

200

In [8]:
def globalIntegerTest():
   
    global globalInteger
    globalInteger = 100
    print(globalInteger)

In [9]:
globalIntegerTest()

100

### Variables

In [10]:
strVar = "Hello World!!!"
intVar = 100
floatVar = 25.5
complextVar = 5 + 3j
boolVar = True
bytesVar = bytes(10) # bytes not mutable

print( f"strVar = {strVar}, intVar = {intVar}, floatVar = {floatVar}, complexVar = {complextVar},  boolVar = {boolVar}, bytesVar = {bytesVar}")

strVar = Hello World!!!, intVar = 100, floatVar = 25.5, complexVar = (5+3j),  boolVar = True, bytesVar = b'\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00'

In [11]:
#byte array  - mutable 
byteArrayVar = bytearray(10)
byteArrayVar[0] = 25
print(byteArrayVar)
#to_bytes

#to bytes , memory view

bytearray(b'\x19\x00\x00\x00\x00\x00\x00\x00\x00\x00')

In [12]:
bytesArrayVar = (258).to_bytes(10, byteorder='big')
print(bytesArrayVar)

b'\x00\x00\x00\x00\x00\x00\x00\x00\x01\x02'

In [13]:
#bytesArrayVar[1] = 22 # modifying  - error

In [14]:
#memoryview test
memoryViewTest = memoryview(bytearray('abc', 'utf-8'))
print(memoryViewTest)

<memory at 0x000002819D439400>

In [15]:
memoryViewTest[0]

97

### 3. Casting

In [16]:
castingString = str('hello 123')
print("castingString  type = {0} , value = {1}".format(castingString, type(castingString)))

castingString  type = hello 123 , value = <class 'str'>

In [17]:
castingFloat = float('12.3')
print("castingFloat  type = {0} , value = {1}".format(castingFloat, type(castingFloat)))

castingFloat  type = 12.3 , value = <class 'float'>

In [18]:
castingInt = int('123')
print("")

### 4. String

In [19]:
s = 'Singapore is a beautiful country.'
print('Original string : ',s)

Original string :  Singapore is a beautiful country.

In [20]:
#print index and letters 
resultList = []
currentIndex = 0
for char in s:
    resultList.append(f's[{currentIndex}]={char}')
    currentIndex += 1
print(resultList)

['s[0]=S', 's[1]=i', 's[2]=n', 's[3]=g', 's[4]=a', 's[5]=p', 's[6]=o', 's[7]=r', 's[8]=e', 's[9]= ', 's[10]=i', 's[11]=s', 's[12]= ', 's[13]=a', 's[14]= ', 's[15]=b', 's[16]=e', 's[17]=a', 's[18]=u', 's[19]=t', 's[20]=i', 's[21]=f', 's[22]=u', 's[23]=l', 's[24]= ', 's[25]=c', 's[26]=o', 's[27]=u', 's[28]=n', 's[29]=t', 's[30]=r', 's[31]=y', 's[32]=.']

In [21]:
print('Slicing from the left : ', s[0:9])

Slicing from the left :  Singapore

In [22]:
print('Slicing from the right : ', s[-10:-1])

Slicing from the right :  l country

In [23]:
print('slicing from the middle : ', s[10:20])

slicing from the middle :  is a beaut

In [24]:
print('print the alternative characters  : ', s[::2])

print the alternative characters  :  Snaoei  euiu onr.

In [25]:
print('print each thrid characters  : ', s[::3])

print each thrid characters  :  Sgo  buf ur

In [26]:
print('reverse the string : ', s[::-1])

reverse the string :  .yrtnuoc lufituaeb a si eropagniS

In [27]:
print('reverse the string but alternative characters: ', s[::-2])

reverse the string but alternative characters:  .rno uiue  ieoanS

In [28]:
#string functions 
print("Upper = ", s.upper())
print("lower = ", s.lower())
print("capitalize = ", s.capitalize())
print("casefold = ", s.casefold())

Upper =  SINGAPORE IS A BEAUTIFUL COUNTRY.
lower =  singapore is a beautiful country.
capitalize =  Singapore is a beautiful country.
casefold =  singapore is a beautiful country.

### 5. Operators

In [29]:
#arithmatic operators 
print(5%2) # modulus - 1
print(5//2) #floor division 
print(5**2) #power 
print(5 ^ 2 ) # xor

1
2
25
7

In [30]:
#logical operators
a = 5
b= 7
if a == 5 and b == 7:
    print('AND operator tested')

AND operator tested

In [31]:
if a==5 or b ==10:
    print("OR operator tested.")

OR operator tested.

In [32]:
if not a:
    print("Not tested.")

In [33]:
#identity operators 
if a is b:
    print("a is b")

In [34]:
if a is not b:
    print("a is not b")

a is not b

In [35]:
a = 5
b = 5
if a is b:
    print("a is b")

a is b

In [36]:
#membership operators
listCountries = ['India', 'Japan','America', 'England']
if "India" in listCountries:
    print("India exist in listCountries list")

India exist in listCountries list

In [37]:
if "Africa" not in listCountries:
    print("Africa not in listCountries")

Africa not in listCountries

In [38]:
#Bitwise operators 
print("AND result : ", 3 & 1)
print("OR result : ", 3 | 1)
print("XOR result : ", 3 ^1)
print("NOT result : ", ~4)
print("Shift left result : ", 5<<2)
print("Shift righ result : ", 5>>2)

AND result :  1
OR result :  3
XOR result :  2
NOT result :  -5
Shift left result :  20
Shift righ result :  1

### 6. List

In [39]:
listExample = ['India', 12, True]

In [40]:
print(listExample)

['India', 12, True]

In [41]:
#1. for loop
for item in listExample:
    print(item)

India
12
True

In [42]:
#2. for loop with range
for index in range(len(listExample)):
    print(listExample[index])

India
12
True

In [43]:
#3. while 
index = 0
while index < len(listExample):
    print(listExample[index])
    index +=1

India
12
True

In [44]:

listFromTuple = list(('one', 'two','three','four','five','six'))
print(type(listFromTuple))

<class 'list'>

In [45]:
listNumbers = [1,2,3,4,5,6,7,8,9]
for item in listNumbers:
    print(item)

1
2
3
4
5
6
7
8
9

In [46]:
#1. list comprehension  (simple)
[item for item in listNumbers]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [47]:
#2. list comprehension  (with if )
[item for item in listNumbers if item % 2 == 0]

[2, 4, 6, 8]

In [48]:
#3. list comprehension  (with if and else)
['even num : ' + str(item) if item % 2 == 0 else "odd num : " + str(item) for item in listNumbers]

['odd num : 1',
 'even num : 2',
 'odd num : 3',
 'even num : 4',
 'odd num : 5',
 'even num : 6',
 'odd num : 7',
 'even num : 8',
 'odd num : 9']

In [49]:
#print using slicing 
listNumbers[3:5]

[4, 5]

In [50]:
#reverse the list 
listNumbers[::-1]

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [51]:
#slicing with odd item 
listNumbers[0:5:2]

[1, 3, 5]

In [52]:
#create two list and merge 
list1 = ['boy', 'girl']
list2 = ['radio','mobile']
list1Copy = list1.copy()
list2Copy = list2.copy()
list1.append(list2) # append as list (nested list )
list1

['boy', 'girl', ['radio', 'mobile']]

In [53]:
#use extend function 
list1Copy.extend(list2Copy)

In [54]:
list1Copy

['boy', 'girl', 'radio', 'mobile']

In [55]:
#remove boy from list1Copy 
list1Copy.remove('boy')
list1Copy

['girl', 'radio', 'mobile']

In [56]:
list1Copy.insert(0, 'Boy')
list1Copy

['Boy', 'girl', 'radio', 'mobile']

In [57]:
list1Copy.pop() # remove last item 
list1Copy

['Boy', 'girl', 'radio']

In [58]:
list1Copy.pop(2) # removed items in teh index 2

'radio'

In [59]:
list1Copy

['Boy', 'girl']

In [60]:
del list1Copy[0]
list1Copy

['girl']

In [61]:
list1Copy.clear()

In [62]:
del list1Copy

In [63]:
#re-create teh list 
list1Copy = [ 'radio','girl','moble','boy','telivision']
#sort the list 
list1Copy.sort()

In [64]:
list1Copy

['boy', 'girl', 'moble', 'radio', 'telivision']

In [65]:
list1Copy.reverse()

In [66]:
list1Copy

['telivision', 'radio', 'moble', 'girl', 'boy']

In [67]:
#merge two list 
list1NumbersInWords = ["one", 'two',"three"]
list2NumbersInDecimal = [1,2,3]
list1NumbersInWords + list2NumbersInDecimal

['one', 'two', 'three', 1, 2, 3]

In [68]:
#unziping : https://www.geeksforgeeks.org/python-unzip-a-list-of-tuples/
#list ziping and unziping 
#apply ziping 
listOriginal = [(1, 'one'), (2,'one'),(3,'three'),(4,'four')]
print('original list : ', listOriginal)

original list :  [(1, 'one'), (2, 'one'), (3, 'three'), (4, 'four')]

In [69]:
#apply upziping 
list(zip(*listOriginal))

[(1, 2, 3, 4), ('one', 'one', 'three', 'four')]

In [70]:
#apply ziping
list1Numbers = ['one','two','three','four','five']
list2Numbers = [1,2,3,4,5]
list(zip(list1Numbers, list2Numbers))

[('one', 1), ('two', 2), ('three', 3), ('four', 4), ('five', 5)]

### 7. Tuples

In [71]:
tuple1 = ('hotel', 45, True, 34.23)
tuple2 = ('orange', (12).to_bytes(5, 'big'))

In [72]:
tuple2

('orange', b'\x00\x00\x00\x00\x0c')

In [73]:
[item for item in tuple1]

['hotel', 45, True, 34.23]

In [74]:
if True in tuple1:
    print("True exist in tuple1")

True exist in tuple1

In [75]:
#modify the tuple element
tuple1

('hotel', 45, True, 34.23)

In [76]:
listTemp = list(tuple1)
listTemp [0] = 'Banana Leaf Hotel'
tuple1 = tuple(listTemp)
tuple1

('Banana Leaf Hotel', 45, True, 34.23)

In [77]:
#add two tuples 
tuple1 + tuple2

('Banana Leaf Hotel', 45, True, 34.23, 'orange', b'\x00\x00\x00\x00\x0c')

In [78]:
#multiply
tuple1 * 2

('Banana Leaf Hotel', 45, True, 34.23, 'Banana Leaf Hotel', 45, True, 34.23)

### 8. Sets

In [79]:
setFruits1 = {'orange', 'banana', 'apple', 'cherry'}
setFruits2 = {'mango', 'jackfruit', 'orange', 'apple'}

In [80]:
#union (all fruites)
setFruits1.union(setFruits2)

{'apple', 'banana', 'cherry', 'jackfruit', 'mango', 'orange'}

In [81]:
#intersection (only common fruits)
setFruits1.intersection(setFruits2)

{'apple', 'orange'}

In [82]:
#update (I.E etend the list)
setFruits1.update(setFruits2)

In [83]:
setFruits1

{'apple', 'banana', 'cherry', 'jackfruit', 'mango', 'orange'}

In [84]:
setFruits1 = {'orange', 'banana', 'apple', 'cherry'}
setFruits2 = {'mango', 'jackfruit', 'orange', 'apple'}
setFruits1.intersection_update(setFruits2) # remove the non-common items from the set

In [85]:
setFruits1

{'apple', 'orange'}

In [86]:
setFruits1 = {'orange', 'banana', 'apple', 'cherry'}
setFruits2 = {'mango', 'jackfruit', 'orange', 'apple'}
setFruits1.difference(setFruits2) # return teh difference

{'banana', 'cherry'}

In [87]:
setFruits1 = {'orange', 'banana', 'apple', 'cherry'}
setFruits2 = {'mango', 'jackfruit', 'orange', 'apple'}
setFruits1.symmetric_difference(setFruits2) # return the un-common from both the list

{'banana', 'cherry', 'jackfruit', 'mango'}

In [88]:
setFruits1 = {'orange', 'banana', 'apple', 'cherry'}
setFruits2 = {'mango', 'jackfruit', 'orange', 'apple'}
setFruits1.symmetric_difference_update(setFruits2) # update with symmetric difference

In [89]:
setFruits1

{'banana', 'cherry', 'jackfruit', 'mango'}

### 9. Dictionaries

In [90]:
dictNameCitizenship = {'Hencil': 'Indian', 'Tom': 'American', 'Nick':'Vietnamise'}
dictNameCitizenship

{'Hencil': 'Indian', 'Tom': 'American', 'Nick': 'Vietnamise'}

In [91]:
dictNameCitizenship.update({'Kathy':'England'})

In [92]:
dictNameCitizenship

{'Hencil': 'Indian',
 'Tom': 'American',
 'Nick': 'Vietnamise',
 'Kathy': 'England'}

In [93]:
#print values 
dictNameCitizenship.values()

dict_values(['Indian', 'American', 'Vietnamise', 'England'])

In [94]:
#print keys 
dictNameCitizenship.keys()

dict_keys(['Hencil', 'Tom', 'Nick', 'Kathy'])

In [95]:
#items 
dictNameCitizenship.items()

dict_items([('Hencil', 'Indian'), ('Tom', 'American'), ('Nick', 'Vietnamise'), ('Kathy', 'England')])

In [96]:
dictNameCitizenship['Hencil']

'Indian'

In [97]:
dictNameCitizenship['Mani'] = 'Srilankan'

In [98]:
dictNameCitizenship

{'Hencil': 'Indian',
 'Tom': 'American',
 'Nick': 'Vietnamise',
 'Kathy': 'England',
 'Mani': 'Srilankan'}

In [99]:
len(dictNameCitizenship)

5

In [100]:
#remove item
dictNameCitizenship.pop('Tom')

'American'

In [101]:
dictNameCitizenship

{'Hencil': 'Indian',
 'Nick': 'Vietnamise',
 'Kathy': 'England',
 'Mani': 'Srilankan'}

In [102]:
del dictNameCitizenship['Mani']

In [103]:
dictNameCitizenship

{'Hencil': 'Indian', 'Nick': 'Vietnamise', 'Kathy': 'England'}

In [104]:
dictNameCitizenship.clear()

In [105]:
#create nested dictionary 
dictNested = {'Street' : 'Bedok North Road', 'BLK' : 422, 'country' : 'Singapore'}
dictOuter =  {'Tom' : dictNested, 'Lily' : dictNested}

In [106]:
dictOuter

{'Tom': {'Street': 'Bedok North Road', 'BLK': 422, 'country': 'Singapore'},
 'Lily': {'Street': 'Bedok North Road', 'BLK': 422, 'country': 'Singapore'}}

### 10. if/elif/else - nested if

In [107]:
a = 10
b = 5
c = 5

#if/elif/else
if a == b:
    print("a equals b")
elif a == c:
    print("a equals c")
else:
    print("a is not equal to b and c")

a is not equal to b and c

In [108]:
#nested if
if a == 10:
    if b == c:
        print(' a == 10 and b and c are equal')

 a == 10 and b and c are equal

### 11. for and while loop

In [109]:
# while loop with break, continue and pass
count = 0
#print only even numbers 
while count < 100:
    count += 1
    print("count value = ", count)
    
    if count == 9:
        print("break executed")
        break
        
    if count % 2 ==1 :
        continue;
    
    if count % 2 == 0 :
        print("even number : ", count)
        
    if count == 5:
        pass

count value =  1
count value =  2
even number :  2
count value =  3
count value =  4
even number :  4
count value =  5
count value =  6
even number :  6
count value =  7
count value =  8
even number :  8
count value =  9
break executed

### 12. Function/Lambda function

In [110]:
#simple funtion 
def simpleFunction():
    print("Simple function call")

In [111]:
simpleFunction()

Simple function call

In [112]:
def squareValue(n):
    return n*n;

In [113]:
squareValue(5)

25

In [114]:
#arbitrary argument functions 
def arbitraryArgFunctions(*args):
    for arg in args:
        print(f"argName = {arg} ")

In [115]:
arbitraryArgFunctions("one", "two","three",1)

argName = one
argName = two
argName = three
argName = 1

In [116]:
#keyword argument function 
def keywordArgumentFunction(**kArgs):
     for argName in kArgs:
            print(f"argName = {argName} , argValue = {kArgs[argName]}")

In [117]:
keywordArgumentFunction(name1="Hencil", name2="Peter", name3="Joseph")

argName = name1 , argValue = Hencil
argName = name2 , argValue = Peter
argName = name3 , argValue = Joseph

In [118]:
#default argument function 
def functionwithDefaultArg(arg="No argument"):
    print(arg)

In [119]:
functionwithDefaultArg()

No argument

In [120]:
functionwithDefaultArg("Test")

Test

In [121]:
#recursive function 
def funcFact(n):
    if n <= 1:
        return 1
    else:
        return n * funcFact(n-1)

In [122]:
funcFact(5)

120

In [123]:
#lambda function 
squreLambda = lambda n: n* n

In [124]:
squreLambda(5)

25

In [125]:
aditionLambda = lambda a, b : a + b

In [126]:
aditionLambda(2,3)

5

### 13. Class object

In [127]:
class BasicClass:
    def __init__(self,a,b):
        self.a = a
        self.b = b
    def printMembers(self):
        print(f"a = {a}, b = {b}")

In [128]:
simpleObject = BasicClass(10,20)
simpleObject.printMembers()

a = 10, b = 5

In [129]:
del simpleObject.a

In [130]:
simpleObject.printMembers()  # todo : how the a is still appearing

a = 10, b = 5

In [131]:
del simpleObject

### 14. Inheritance

In [3]:
class Parent:
    def __init__(self, a, b):
        self.a = a
        self.b = b
        self.c = "default"
        
    def printValues(self):
        print(f"a = {self.a} , b = {self.b}, c = {self.c}")

objParent = Parent(10,20)
objParent.printValues()

a = 10 , b = 20, c = default

In [2]:
objParent = Parent(10,20)
objParent.printValues()

a = 10 , b = 20, c = default

In [133]:
class Child(Parent):
    def __init__(self, a,b,d):
        super().__init__(a,b)
        #Parent.__init__(a,b)
        self.d =d 
    
    def printValues(self):
        super().printValues()
        print(self.d)

In [134]:
childObject = Child(1,2,3)

In [135]:
childObject.printValues()

a = 1 , b = 2, c = default
3

### 15. Iterator

In [136]:
simpleTuple = ('play school', 'kinder garten', 'primary', 'secondary', 'college')

In [137]:
tupIter = iter(simpleTuple)

In [138]:
next(tupIter)

'play school'

In [139]:
next(tupIter)

'kinder garten'

In [140]:
next(tupIter)

'primary'

In [141]:
next(tupIter)

'secondary'

In [142]:
# next(tupIter) # throws StopIteration

In [143]:
#using class
class PrintUptoFive:
    def __iter__(self):
        self.n = 0
        return self
    
    def __next__(self):
        if self.n + 1 > 5:
            raise StopIteration
        self.n += 1
        return self.n

In [144]:
objUpToFive = PrintUptoFive()
itUpToFive = iter(objUpToFive)

In [145]:
next(itUpToFive)

1

In [146]:
next(itUpToFive)

2

In [147]:
next(itUpToFive)

3

In [148]:
next(itUpToFive)

4

In [149]:
next(itUpToFive)

5

In [150]:
#next(objUpToFive) # Stop iteration error

### 16. Scope

In [151]:
#local, global, built-in and enclosed scope

### 17. Modules

In [152]:
#example - use pycharm

### 18. Dates

In [153]:
import datetime 
print(datetime.datetime.now())

2022-03-15 05:51:58.555036

In [154]:
currentDateTime = datetime.datetime.now()

In [155]:
#currentDateTime.strptime()

### 19. Math library

In [156]:
import math as m
print(m.sqrt(16))

4.0

In [157]:
print(m.pow(5,3))

125.0