In [20]:
class Employee:
    def __init__(self, first_name, last_name, number):
        self._first_name = first_name
        self._last_name = last_name
        self._number = number
    
    # properties 
    @property    #function decorator 
    def first_name(self):
        return self._first_name;
    @property  #function decorator 
    def last_name(self):
        return self._last_name;
    
    @property  #function decorator 
    def number(self):
        return self._number;
    
    #properties - Setters 
    @first_name.setter
    def first_name(self, var):
        self._first_name = var

    @last_name.setter
    def last_name(self, var):
        self._last_name = var
    
    @number.setter
    def number(self, var):
        if (var > 0 and var < 0 ):
            self._number = var
    
    #instance method
    def print_name(self):
        print(f'{self._first_name} , {self._last_name}')

In [21]:
#objects
employee1 = Employee('John','Smit',12)
employee2 = Employee('James', 'Peter', 13)

employee1.first_name
employee1.last_name
employee1.first_name = 'NewName'
employee1.number = 123

In [17]:
employee1.number
employee1.first_name

'NewName'

In [24]:
employee2.print_name()

James , Peter