# Lambda Function

This **bold** and _italic_

In [3]:
def square(x):
    return x**2;

In [4]:
square(4)

16

In [17]:
#lambda functions (or anonimous function) - function without a name
lamSquare = lambda n: n**2
lamSquare(10)

100

In [18]:
#write a lambda fucntion to sum two numbers 
lamSum = lambda n1, n2: n1 + n2
lamSum(10,20)

30

In [19]:
#calculate function based on given function 
def calculate(fun, num):
    return fun(num)

In [47]:
calculate(lamSquare, 5)

25

In [21]:
calculate(lambda x: x**2,5 )

25

In [22]:
calculate(lambda x: x**3,5 )

125

In [23]:
calculate(lambda x: x + 10,5 )

15

In [24]:
lst = [1,2,3,4,5,6,7,8,9]

In [28]:
def getEvenNumbers(lst):
    ans = []
    for item in lst:
        if (item % 2 == 0):
            ans.append(item)
    
    return ans

In [30]:
getEvenNumbers([1,2,3,4,5,6,7,8,9,10])

[2, 4, 6, 8, 10]

In [36]:
def getEvenNumbers2(lst):
    return [n for n in lst if n%2== 0]

In [37]:
getEvenNumbers2([1,2,3,4,5,6,7])

[2, 4, 6]

In [41]:
#lambda function which return list > 5
lamG5 = lambda lst: [n for n in lst if n > 5]

In [40]:
lamG5([3,6,9,10,5])

[6, 9, 10]

In [42]:
lamSumGreater5 = lambda lst: sum([n for n in lst if n > 5])

In [43]:
lamSumGreater5([3,6,9,10,5])

25

In [44]:
def filter_num(f, l):
    result = []
    for n in l:
        if f(n):
            result.append(n)
    return result

In [46]:
filter_num(lambda n:n%3 == 0, lst)

[3, 6, 9]

In [49]:
list(filter(lambda x: x> 7, lst))

[8, 9]

In [52]:
lst2 = ['Apple', 'Orange', 'Pineapple', 'Kiwi']
list(filter(lambda x : len(x) >= 5 , lst2))

['Apple', 'Orange', 'Pineapple']

In [62]:
# map a list (iterable) to another iterable
lstm1 = [1,2,3,4,5,6,7,8]
lstm2 = [1.14,2.12,3.33,4.44,5.52,6.6,7.7,8.8]

In [61]:
#apply some GST on list items 
list(map(lambda n:n*1.2, lstm1))

[1.2, 2.4, 3.5999999999999996, 4.8, 6.0, 7.199999999999999, 8.4, 9.6]

In [67]:
#add dollar sign before
list(map(lambda n: '$'+str(n*1.2), lstm1))

['$1.2',
 '$2.4',
 '$3.5999999999999996',
 '$4.8',
 '$6.0',
 '$7.199999999999999',
 '$8.4',
 '$9.6']

In [70]:
# f-string example 
fname = 'John'
lname = 'Smith'
age = 19
print(fname + " , " + lname + ". age is " + str(age))

#apply f-string (single or double quotes fine)
print(f'{fname}, {lname}. age is {age}' )

John , Smith. age is 19
John, Smith. age is 19

In [84]:
#apply f-string 
list(map(lambda n: f'${(n*1.07):.2f}', lstm1))

['$1.07', '$2.14', '$3.21', '$4.28', '$5.35', '$6.42', '$7.49', '$8.56']

In [80]:
list(map(lambda n:f'${(n*1.07):.2f}',lstm1))

['$1.07', '$2.14', '$3.21', '$4.28', '$5.35', '$6.42', '$7.49', '$8.56']

In [92]:
#apply gst for the items > 5
#approach 1 - with filter
list(map(lambda nn: f'${(nn*1.07):.2f}', filter(lambda n: n > 5, lstm1)))

['$6.42', '$7.49', '$8.56']

In [97]:
#approach 1
list(map(lambda nn: f'${(nn*1.07 if nn > 5 else nn):.2f}', lstm1))

['$1.00', '$2.00', '$3.00', '$4.00', '$5.00', '$6.42', '$7.49', '$8.56']

In [96]:
#approach2 - different requirement
list(map(lambda nn: f'${(nn*1.07):.2f}' if nn > 5 else f'$xxx' , lstm1))

['$xxx', '$xxx', '$xxx', '$xxx', '$xxx', '$6.42', '$7.49', '$8.56']

In [98]:
list(filter(lambda x: 'apple' in x, lst2))

['Pineapple']

In [103]:
#filter, map , reduce 
from functools import reduce
lstNum = [1,2,3,4,5,6,7,8,9]
reduce(lambda s, str(x) , lstNum )

45

In [104]:
#check the internal values 
def check(s,x):
    print(f's is {s} , x is {x}')
    return s + x

In [105]:
reduce(check , lstNum )

s is 1 , x is 2
s is 3 , x is 3
s is 6 , x is 4
s is 10 , x is 5
s is 15 , x is 6
s is 21 , x is 7
s is 28 , x is 8
s is 36 , x is 9

45

In [109]:
#return as string 
reduce(lambda s, x: f'{s}{x}' , lstNum )

'123456789'